input:checked{
    counter-increment: items;
    background-color: rgb(170, 170, 170);
}

.items {
    counter-reset: items;
  }

.total:after{
content: counter(items);
}

input[type=checkbox]{
    visibility: hidden;
}

label { 
    background-color:rgb(190, 190, 190); 
    color:#FFF; 
    display: inline-block;
    padding: 10px;
    border-radius: 6px;}

input[type=checkbox]:checked + label {
    background: brown;
    
}

