p.normal{
    font-style: normal;
}
.italic{
    font-style: italic;
}
.oblique{
    font-style: oblique;
}

h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 2.5em;
}
h4{
    font-size: 1.875em;
}
p{
font-size: 0.875em;
}

p.normal{
    font-weight: normal;
}
.light{
    font-weight: lighter;
}
.thick{
    font-weight: bold;
}
.thicker{
    font-weight: 900;
}

p.normal{
    font-variant: normal;
}
.small{
    font-variant: small-caps;
}